/* This is the general stylesheet for the Fort Thomas Matters webpage
    Make sure to keep the background color of the site white unless we decide otherwise as a group. 
    Make sure to use boostrap and use the div<container-fluid> class so all of our pages are uniform! 
    Try to have a rough draft ready by the Monday after break; I'll book a study room so we can meet up that day and fix things since its due at the end of that week
    Try to base the layout off the already drawn up home page and article page layouts
    
*/


/* Just a reminder on who has what pages:
    Home Page - Jude
    Articles Page - Dylan
    Classifieds - Ethan
    Sports - Robert
    Events - Jonathan
    About Fort Thomas - Jude
    Sponsors - Jonathan
    Contact Us - Dylan
    Newsletter Pop-Up - Dylan
    Header - Jude
    Footer - Dylan
*/


/* Potential Color Codes for All Pages:
    Stick with the blue and white color themes and use the same colors so we all have consistency. we can change them around later if needed. 
    Color Codes: 
    #FFFFFF - White
    #87F4FF - Light Blue
    #7AACFF - Slightly Darker Blue - for borders
    #5494E8 - More normal blue
    #5C78FF - Navy Blue
*/

div {
    /* Have to insert this link into your sheet for the google fonts: <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Montserrat&display=swap" rel="stylesheet"> */
    font-family: 'Montserrat', sans-serif;
    /* This will be the font for the main body text */
    background-color: white;
}

.sectionHeaders {
    font-family: 'Bree Serif', serif;
    /*This will be the font class for the headers for articles and such */
}

body {
    background-color: #5494E8
}


/* These are the classes specifically for Dylan's Articles Page */

.articleTitles {
    font-family: 'Bree Serif', serif;
    font-size: 28px;
    color: #5C78FF;
}

.recentArticles {
    font-family: 'Bree Serif', serif;
    font-size: 45px;
    text-align: center;
    color: #5C78FF;
    font-weight: bold;
}

.readMore {
    color: black;
    font-size: 25px;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:focus {
    text-decoration: none;
    color: black;
}

.bigArticlesBodyText {
    font-size: 25px;
}

.smallerArticleTitles {
    font-family: 'Bree Serif', serif;
    font-size: 20px;
}

.smallerArticleReadMore {
    font-size: 15px;
    color: black;
}

.viewMore {
    background-color: #5C78FF;
    font-family: 'Bree Serif', serif;
    font-size: 35px;
}


/*This signifies end of the classes for Dylan's Articles Page */


/*Everything following this comment are the installed classes and styles for the header */

.banner {
    max-height: 27vh;
    max-width: 20vw;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.menu-icon {
    display: none
}

li a {
    display: flex;
    flex-direction: row;
    color: black;
    background-color: #5494E8;
    text-align: center;
    padding: 3px 24px;
    text-decoration: none;
    font-family: 'Slabo 27px', serif;
    border-left: 1px solid black;
}

li a:hover {
    color: white;
    text-decoration: none;
    background-image: linear-gradient(rgb(58, 101, 156), rgb(44, 56, 116));
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-content2 {
    display: block;
    left: -150px;
}

.sides {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: 0px 0px 0px 0px;
}

.border {
    border: solid 1px black;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 30px;
    font-family: 'Slabo 27px', serif;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 30px;
    font-family: 'Slabo 27px', serif;
}

.social a:hover {
    opacity: 0.8;
}

.facebook {
    display: none;
}

.hamburger {
    display: none;
}

.sidebar {
    display: none;
}

.mouse {
    display: none;
}

.mouse2 {
    display: none;
}

.nav2 {
    display: none;
}

@media(max-width: 576px) {
    nav ul {
        display: none;
    }
    .menu-icon {
        display: inline-block;
        position: absolute;
    }
    .social {
        display: none;
    }
    .facebook {
        display: inline-block;
    }
    .hamburger {
        display: inline-block;
        position: fixed;
        width: 9vw;
    }
    .sidebar {
        display: inline-block;
        position: absolute;
        height: 100vh;
        width: 50vw;
        z-index: 1;
        top: 0px;
        left: 50vw;
    }
    .nav2 {
        z-index: 3;
        position: absolute;
        top: 0px;
        left: 50vw;
    }
    .menu2 {
        list-style-type: none;
        color: black;
        background-image: none;
        text-align: left;
        padding: 0px 0px;
        text-decoration: none;
        font-family: 'Slabo 27px', serif;
    }
    .mouse {
        display: inline;
    }
    .mouse:hover .nav2 {
        display: inline-block;
    }
    .mouse:hover .mouse2 {
        display: inline-block;
    }
}


/*End of header styles and classes */


/*Everything following this comment are the installed classes and style for the footer */

ul {
    list-style-type: none;
}

li {
    font-weight: bold;
}

.socialMediaLogos {
    height: 75px;
    width: 75px;
}

.textInFooter {
    font-family: 'Bree Serif', serif;
    font-size: 20px;
    font-weight: bold;
    border: none;
}


/* End of classes and styles for the footer */